<!--<h1>StaticPages#home</h1>-->
<!--<h1><%=t 'Sample app' %> Twitter</h1>-->
<!--<h1> Twitter</h1>-->
<% provide(:title, 'Домашняя страница') %>

  <body>
    <h1>Приложение типа Twitter</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
 
